* {
    margin: 10px;
    padding-top: 10px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: springgreen;
}

.container {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding-bottom: 5vh;
    margin-top: 0;
}

header {
    background-color: #666;
    padding-bottom: 20vh;
}

main {
    background-color: #888;
    display: flex;
}

section {
    background-color: #999;
    width:65%;
    margin: 3%;
}

article {
    background-color: #777;
    padding-bottom: 10vh;
    margin: 10%;
}

aside {
    background-color: #999;
    width: 35%;
    margin: 3%;
}

footer {
    background-color: #333;
    padding-bottom: 5vh;
    margin-bottom: 0;
}

