header {
    font-size: 60pt;
    text-align: center;

    background-color: lightgreen;
}
nav {
    text-align: center;
}
h1{
    margin:0;
}
body{
    margin: 0;
}
footer{
    background-color: lightgreen;
    text-align: right;
}
.text{
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
}